* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100vw;
  height: 100vh;
  background-color: #2F2B2B;
  display: flex;
  flex-direction: column;
}

#header {
  width: 100vw;
  height: 5vh;
}

#main{
  width: 100vw;
  height: 80vh;
}

#textBox {
  width: 100vw;
  height: 15vh;
  display: flex;
  justify-content: center;
}

.menu {
  width:30px;
  height: 30px;
}

.logo {
  width:30px;
  height: 30px;
}

input[type="text"] {
  width: 80vw;
  height: 8vh;
  border-radius: 10px;
}